<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  </head>

<form  dir="rtl">  

        <div class="contact_form" dir="rtl">
  <div class="mainTitle">
      <img class="icon_form" src="assets/image/candle.png">
     <h4> 3 סגולות ותפילות למציאת אבידה </h4>
  </div>  
            א.&nbsp;סגולה בדוקה למציאת אבידה, לומר 3 פעמים את המדרש הבא&nbsp;(מדרש רבה בראשית נ"ג, י"ד):&nbsp;"אמר רבי בנימין, הכל בחזקת סומין, עד שהקדוש ברוך הוא מאיר את עיניהם, מן הכא ויפקח אלוהים את עיניה, ותלך ותמלא החמת". [ויש אומרים כך: אמר רבי בנימין, הכל בחזקת סומין, עד שיבוא הקדוש ברוך הוא ויפקח את עיניהם לעתיד לבא].
 
            <br>
            <br>
         
ב. ידור סכום כסף
            שיקנה בו שמן למאור לכבוד רבי מאיר בעל הנס זיע"א, ומיד ימצא אבידתו. ובתנאי שלא יעבור זמן רב מעת שאבדה לו האבידה (מדרש תלפיות, ענף אבידה
  ומציאה).
            <br>
            <br>

            
ג. ידליק נר ויתן צדקה לכבוד רבי מאיר בעל הנס זיע"א, ויאמר כך: "אלהא דמאיר ענני! אלהא דמאיר ענני! ותעזור לי שאמצא או שיחזירו לי במהרה את אבידתי אשר איבדתי, בזכות שנתתי סך (יזכיר הסכום) שקלים לכבוד רבי מאיר בעל הנס זכור לטוב".(רפאל המלאך ערך אבידה).

        </div>

 </form>

